{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Shop by Collection</title>
{% endblock title %} 

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock css %}

{% block content %}

<div class="main-box">
    <br>

    <h1 class="about-usheading">ABOUT US</h1>
    <br>

    <p class="aboutus-desc">We Created Overlays for those people who are here to conquer. If this were 1,000 years ago, we made these for the men who would come on horses and burn armies alone. <br>
        <br>

From the very first stitch to the final fit, every product is tested for best fit, fabric, print, stitch, finish and strength because our community deserves clothing that backs their confidence. You are part of a family that embraces change, leads with instinct, and finds power in chaos. Ready to break free from limits? Overlays bends reality with designs that defy norms, embrace the absurd, and let the wild, weird, and unexpected take the lead.</p>

<br>
<h1 class="about-usheading">MEET THE FOUNDER</h1>
    <br>

    <p class="aboutus-desc">Taresh Tandy is a computer science engineer from SAGE University Bhopal and a visionary entrepreneur who thrives on challenging the norm.
<br>
<br>
Began by making tech videos in parking lots no studio, just ideas and pure energy. From there, he built a community of millions by making technology feel human, fun, and relatable. Shlok always believed physical products have the tendency to transfer energy and hence always was very keen on spreading the positive energy across the globe.
<br>
<br>
In 2021, he launched Overlays Clothing with one simple belief: fashion should be fearless.
It wasn’t about trends. It was about fixing what no one else was, t-shirts that faded too fast, threads that came loose, fabrics that shrinks. As someone obsessed with textures and detail, Shlok wanted to build clothing that looked fearless and lasted longer.
<br>
<br>
And this is just the start. For the future, he envisions building clothing inspired by the warriors of the past, building products no one has every imaged and creating a community full of warriors packed with freedom.
<br>
<br>
From tech to threads, his journey is powered by passion and freedom.</p>

</div>


{% endblock content %}