{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Search</title>
{% endblock title %} 

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock css %}


{% block content %}

<div class="main-box">
    <br>
 
    <form method="GET" class="search-box" action="{% url 'search' %}">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="q" class="srch-input" placeholder="Search products..." value="{{ query|default:'' }}">
    <button class="srch-button" type="submit">Search</button> &nbsp;&nbsp;

    <button type="submit" class="clear-button"><a href="{% url 'search' %}" class="clear-btn">Clear</a></button>
    </form> 

    

    <br>
{% if product %}

<h2 class="section-title">
    Search Results {% if query %}for "{{ query }}"{% endif %}
</h2>

<div class="newlaunch-itemsbox">

{% for i in product %}

<div class="newlaunch-items">

    <a href="{% url 'product_detail' i.id %}" class="product-link">

        <img src="{{ i.main_image.url }}" class="product-img" alt="">

        <span class="greytshirt-title">{{ i.name }}</span>

        <div>
            <span class="prizes">
                <span class="price">₹ {{ i.price }}</span>
                &nbsp;
                <del class="cut-price">₹ {{ i.old_price }}</del>
            </span>
        </div>

    </a>

    <div class="product-variants">
        {% for s in i.productsize_set.all %}
            {% if s.stock > 0 %}
                <span class="variant-size">
                    <span class="sizes">{{ s.size }}</span>
                </span>
            {% endif %}
        {% empty %}
            <span>No sizes available</span>
        {% endfor %}
    </div>

</div>

{% endfor %}

</div>

{% else %}
    <p>No products found</p>
{% endif %}



</div>



{% endblock content %}