{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Shop by Category</title>
{% endblock title %} 

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/shopbycategory.css' %}">
{% endblock css %}

{% block content %}
<div class="mainbox">

<div class="filter-bar">

    <div class="right-filterbox">

            <div class="fiftysix-items">41 items</div>

        <form method="GET" id="sortForm">
        <select name="sort" class="sorting" onchange="document.getElementById('sortForm').submit()">
        <option disabled selected>Sort</option>
        <option value="az">Alphabetically, A-Z</option>
        <option value="za">Alphabetically, Z-A</option>
        <option value="low">Price, low to high</option>
        <option value="high">Price, high to low</option>
        </select>
        </form>

    </div>

</div>

<br>
{% if product %} 
<div class="newlaunch-itemsbox">
    {% for i in product %}
    <div class="newlaunch-items"
     onclick="window.location.href='{% url 'product_detail' i.id %}'"
     style="cursor:pointer;">
        <img src="{{ i.main_image.url }}" class="product-img" alt="">
        <span class="greytshirt-title">{{ i.name }}</span>
        <div><span class="prizes"> <span class="price">₹ {{ i.price }}</span>&nbsp;<del class="cut-price">₹ {{ i.old_price }}</del> </span></div>
        <div class="product-variants">
    {% for s in i.productsize_set.all %}
        {% if s.stock > 0 %}
            <a href="" class="variant-size">
                <span class="sizes">{{ s.size }}</span>
            </a>
        {% endif %}
    {% empty %}
        <span>No sizes available</span>
    {% endfor %}
</div>
    </div>
    {% endfor %}
</div>
{% endif %}

</div>
{% endblock content %} 

<!-- Javascript link -->
{% block js %} 
{{ block.super }}
<script src="{% static 'js/shopbycategory.js' %}"></script>
{% endblock js %}